    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">콜스마트로 스마트하게 영업하자!</div>
          <div class="intro-heading text-uppercase">신규사업자 DB로 스마트하게 <br>영업하세요!</div>
            <%= link_to 'DB 열람', show_path, class: "btn btn-primary btn-xl text-uppercase js-scroll-trigger"%>
        </div>
      </div>
    </header>
    <!-- Footer -->
    <footer>
      <div class="container">
          <div class="d-flex justify-content-center align-items-center">
            <ul class="list-inline quicklinks text-center">
              <li class="list-inline-item">
                <a href="#">개인정보 이용약관</a>
              </li>
              <li class="list-inline-item">
                <a href="#">서비스 이용약관</a>
              </li>
            </ul>
          </div>
      </div>
    </footer>